altgraph==0.17.4
auto-py-to-exe==2.42.0
Babel==2.14.0
bottle==0.12.25
bottle-websocket==0.2.9
cffi==1.16.0
colorama==0.4.6
docx2pdf==0.1.8
docxcompose==1.4.0
docxtpl==0.16.7
Eel==0.16.0
et-xmlfile==1.1.0
future==0.18.3
gevent==23.9.1
gevent-websocket==0.10.1
greenlet==3.0.3
Jinja2==3.1.3
lxml==5.1.0
MarkupSafe==2.1.3
numpy==1.26.3
openpyxl==3.1.2
packaging==23.2
pandas==2.1.4
pefile==2023.2.7
pycparser==2.21
pyinstaller==6.3.0
pyinstaller-hooks-contrib==2024.0
pyparsing==3.1.1
python-dateutil==2.8.2
python-docx==1.1.0
pytrovich==0.0.4
pytz==2023.3.post1
pywin32==306
pywin32-ctypes==0.2.2
six==1.16.0
tqdm==4.66.1
typing_extensions==4.9.0
tzdata==2023.4
whichcraft==0.6.1
zope.event==5.0
zope.interface==6.1
